* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --light-text-color: hsla(240, 6%, 21%, 1);
  --dark-text-color: hsla(0, 0%, 100%, 1);
  --dark-bg-color: hsl(240, 5%, 7%); 
  --light-bg-card: hsla(240, 9%, 89%, 1);
  --dark-bg-card: hsla(240, 6%, 17%, 1);
  --dark-button:hsla(240, 7%, 78%, 1);
  --bg-buttonPressedSound: #02799d;
  --buttonPressedSound: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-text-color);
}

body.dark-mode{
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

header {
  top: 0;
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 6.4rem 6.4rem 0 0;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "timer sounds";

  width: 82.1rem;
  height: 33.6rem;
}

.timer {
  grid-area: timer;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 21.3rem;
}

.time {
  display: flex;
  font-size: 12.6rem;
  align-self: center;
}

.controls {
  display: flex;
  gap: 4rem;
  align-self: center;
}

.play.dark-mode svg path,
.pause.dark-mode svg path,
.stop.dark-mode svg path,
.more5Minutes.dark-mode svg path,
.minus5Minutes.dark-mode svg path,
.forestSound.dark-mode svg path,
.rainSound.dark-mode svg path,
.coffeeShopSound.dark-mode svg path,
.bonfireSound.dark-mode svg path{
  fill: var(--dark-button);
}

.hide {
  display: none;
}

.sounds {
  grid-area: sounds;
  display: grid;
  grid-template-columns: 13.8rem 13.8rem;
  width: 30.8rem;
  height: 33.6rem;
  gap: 3.2rem;
  justify-self: end;
}

.card {
  background-color: var(--light-bg-card);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding-top: 2.4rem;
}

.card.dark-mode{
  background-color: var(--dark-bg-card);

}

.slidecontainer {
  display: flex;
  height: 1.6rem;
  width: 9rem;
}

.slider {
  -webkit-appearance: none;
  display: flex;
  width: 9rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background: var(--light-text-color);
}

.slider.dark-mode{
  background: var(--dark-text-color);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: var(--light-text-color);
  cursor: pointer;
}

.slider.dark-mode::-webkit-slider-thumb{
  background-color: var(--dark-text-color);

}

.button {
  cursor: pointer;
}

.bgPressed {
  fill: var(--bg-buttonPressedSound);
}

.buttonPressed {
  fill: var(--buttonPressedSound);
}
